PORT=3010
DATABASE_URL=postgres://demo:demo@localhost:5432/relayer

RELAYER_MNEMONIC=legal winner thank year wave sausage worth useful legal winner thank yellow

STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
FRIENDBOT_URL=https://friendbot.stellar.org

POOL_CONTRACT=CA5VMH2O7ZVBNBMAMRO3INM5NSTRQYLJEKOC352OKGFNBU45Y3O7CNQ4
KYT_PASSAGE_REGISTRY_CONTRACT=CCZSPXBKKQWYADKCULGLEXJGP7QFKFIULOPVDB7WFOQ76ESBON7LVVDU
KYT_API_BASE_URL=https://privacy-layer-staging-backend-gf66o.ondigitalocean.app/api

APPLICATION_ID=3520878299009890
ZK_CONFIG_NONCE=3
